@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FEE7DE;
}

.text {
    text-align: center;
}

form {
    width: 31.25rem;
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    
  }

  div {
    margin: .625rem;
  }

  label {
    font-weight: bold;
    
  }

  input {
    width: 400px;
    height: 30px;
    padding: .3125rem;
    border: none;
    margin-right: 100px;
    border-radius: 10px;
   background-color: #FBCDB9;
   font-style: bold;
    font-size:15px;
   
    
    
  }

  ::placeholder
  {
    color: black;
  }

  button {
    width: 6.25rem;
    padding: .625rem;
    background-color: #FC8A58;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }

  #nome::-webkit-input-placeholder{
    color:#1C1C1C;
    background-color: #4682B4;
    text-transform: uppercase;
    font-style: bold;
    font-size:15px;
}